# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Environment variables
.env

# Logs
logs/
*.log

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db